<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="ion-no-shadow" [ngStyle]="{ '--background': headerBackgroundColor }">
    <ion-title>
      <img src="assets/img/netflix.png" alt="Netflix" class="netflix-logo" />
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleSearch()">
        <ion-icon [name]="searchActive ? 'close-outline' : 'search-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  @if (searchActive) {
    <div class="floating-searchbar">
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionInput)="filterMovies()"
        placeholder="Buscar filmes..."
        autofocus="true"
        animated="true"
      ></ion-searchbar>

      <div class="floating-results">
        @if (searchTerm.length > 0) {
          <ion-list>
            @for (movie of searchResults; track movie.id) {
              <ion-item button (click)="openDetails(movie)">
                <ion-thumbnail slot="start">
                  <ion-img [src]="'https://image.tmdb.org/t/p/w92' + movie.poster_path"></ion-img>
                </ion-thumbnail>
                <ion-label>{{ movie.title }}</ion-label>
              </ion-item>
            }
          </ion-list>
        }
      </div>
    </div>
  }
</ion-header>

<ion-content
  [fullscreen]="true"
  [scrollEvents]="true"
  (ionScroll)="onScroll($event)"
  [ngStyle]="{ '--background': backgroundColor }"
>
  <ion-refresher slot="fixed" (ionRefresh)="getMovies($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="poster-content">
    <img #posterImage crossorigin="anonymous" (click)="openDetails(highlightMovie!)" />
  </div>

  <p class="section-title">Agora em cartaz</p>
  <div class="horinzontal-scroll">
    @for (movie of movies; track movie.id) {
      <ion-card button class="movie-card" (click)="openDetails(movie)">
        <ion-img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"></ion-img>
      </ion-card>
    }
  </div>

  <p class="section-title">Mais bem avaliados</p>
  <div class="horinzontal-scroll">
    @for (movie of topRated; track movie.id) {
      <ion-card button class="movie-card" (click)="openDetails(movie)">
        <ion-img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"></ion-img>
      </ion-card>
    }
  </div>

  <p class="section-title">Mais vistos da semana</p>
  <div class="horinzontal-scroll">
    @for (movie of movies; track movie.id) {
      <ion-card button class="movie-card" (click)="openDetails(movie)">
        <ion-img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"></ion-img>
      </ion-card>
    }
  </div>
</ion-content>
